@import 'app-colors';
@import 'mixins';
@import 'responsive';

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 640px;
  max-height: calc(100% - 30px);
  padding: 30px 30px 0 30px;
  box-sizing: border-box;
  background-color: $cardBackground;
  border-radius: 5px;
  @include momentumScroll;

  @media only screen and (max-width: 640px) {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0px;
  }
  @include phone {
    padding: 15px 15px 0 15px;
  }
}

.card_blurred {
  filter: blur(3px);
}

.optionTitle {
  @include uppercase;
  margin: 0 0 15px 0;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: $lightText;
}

.dropZoneContainer {
  text-align: center;
}

.dropZone {
  position: relative;
  width: 300px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(white, 0.08);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;

  @include phone {
    width: 280px;
  }
}

.dropZone_isOver {
  background-color: rgba($green, 0.08);

  .jsonIcon {
    color: $green;
    transform: translateY(-15px);
  }

  .dropZoneMessage {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropZone_focused {
  border-color: rgba(white, 0.2);
}

.dropZone_error {
  background-color: rgba($red, 0.08);

  .jsonIcon {
    color: $red;
    transform: translateY(-15px);
  }

  .dropZoneErrorMessage {
    opacity: 1;
    transform: translateY(0);
  }
}

.jsonIcon {
  width: 50px;
  height: 67px;
  color: rgba(white, 0.5);
  transition: 200ms;
}

.dropZoneMessage, .dropZoneErrorMessage {
  @include uppercase;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  opacity: 0;
  transform: translateY(15px);
  transition: 200ms;
}

.dropZoneMessage {
  color: $green;
}

.dropZoneErrorMessage {
  color: $red;
}

.urlOptionContainer {
  display: flex;
  align-items: center;

  @include phone {
    display: block;
    text-align: right;
  }
}

.inputContainer {
  flex: 1;
  margin-right: 10px;
  @include phone {
    margin-right: 0;
  }
}

.input {
  @include phone {
    margin-bottom: 10px;
  }
}

.examplesContainer {
  text-align: center;
}

.tactillIcon {
  width: 86px;
  height: 26px;
}

.peachIcon {
  width: 86px;
  height: 86px;
}

.giphyIcon {
  width: 59px;
  height: 65px;
}
