@import "responsive";

.detailsContainer {
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 345px;
  display: flex;
  justify-content: center;

  @include tablet {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
