@import "responsive";

.detailsContainer {
  z-index: 10;
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 345px;
  display: flex;
  justify-content: center;

  @include tablet {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.menu_enter {
  transform: translateX(-100%);
  opacity: 0.8;
}
.menu_enterActive {
  transform: translateX(0);
  opacity: 1;
  transition: 400ms;
}
.menu_exit {
  transform: translateX(0);
  opacity: 1;
}
.menu_exitActive {
  transform: translateX(-100%);
  opacity: 0.8;
  transition: 400ms;
}

.details_enter {
  transform: translateX(100%);
}
.details_enterActive {
  transform: translateX(0);
  transition: 400ms;
}
.details_exit {
  transform: translateX(0);
}
.details_exitActive {
  transform: translateX(100%);
  transition: 400ms;
}
