@import 'app-colors';
@import 'mixins';
@import 'responsive';

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  padding: 25px;
  box-sizing: border-box;
  background-color: $cardBackground;
  @include momentumScroll;

  @include tablet {
    width: 100%;
  }
  @include phone {
    padding: 15px;
  }
}

.docName {
  font-size: 20px;
}

.docVersion {
  margin-left: 10px;
  color: $lightText;
}

.input {
  max-width: 400px;
}
