@import 'app-colors';
@import 'mixins';

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  padding: 25px;
  box-sizing: border-box;
  background-color: $cardBackground;
  @include momentumScroll;
}

.docName {
  font-size: 20px;
}

.docVersion {
  margin-left: 10px;
  color: $lightText;
}
