@mixin resetButton {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}

@mixin resetInput {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@mixin momentumScroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
