{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "Giphy",
        "description": "## Welcome\n\nThis is a place to put general notes and extra information, for internal use.\n\nTo get started designing/documenting this API, select a version on the left. # Title\nNo Description"
    },
    "host": "api.giphy.com",
    "basePath": "/v1",
    "schemes": [
        "http"
    ],
    "securityDefinitions": {
        "api_key": {
            "name": "api_key",
            "type": "apiKey",
            "in": "query"
        }
    },
    "paths": {
        "/gifs/search": {
            "get": {
                "operationId": "GET_gifs-search",
                "summary": "Search",
                "tags": [
                    "Gifs"
                ],
                "description": "<p>Search all Giphy GIFs for a word or phrase. Punctuation will be stripped and ignored. Use a plus or url encode for phrases.</p>\n<p>Examples:</p>\n<p><a href=\"http://api.giphy.com/v1/gifs/search?q=paul+rudd&api_key=dc6zaTOxFJmzC\" target=\"_blank\">paul+rudd</a></p>\n<p><a href=\"http://api.giphy.com/v1/gifs/search?q=ryan+gosling&api_key=dc6zaTOxFJmzC\" target=\"_blank\">ryan+gosling</a></p>\n<p><a href=\"http://api.giphy.com/v1/gifs/search?q=american+psycho&api_key=dc6zaTOxFJmzC\" target=\"_blank\">american+psycho</a></p>\n<p><a href=\"http://api.giphy.com/v1/gifs/search?q=funny+cat&api_key=dc6zaTOxFJmzC&limit=1&offset=0\" target=\"_blank\">funny+cat</a></p>",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "default": "dc6zaTOxFJmzC"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "slug": {
                                                "type": "string"
                                            },
                                            "url": {
                                                "type": "string"
                                            },
                                            "bitly_gif_url": {
                                                "type": "string"
                                            },
                                            "bitly_url": {
                                                "type": "string"
                                            },
                                            "embed_url": {
                                                "type": "string"
                                            },
                                            "username": {
                                                "type": "string"
                                            },
                                            "source": {
                                                "type": "string"
                                            },
                                            "rating": {
                                                "type": "string"
                                            },
                                            "content_url": {
                                                "type": "string"
                                            },
                                            "source_tld": {
                                                "type": "string"
                                            },
                                            "source_post_url": {
                                                "type": "string"
                                            },
                                            "import_datetime": {
                                                "type": "string"
                                            },
                                            "trending_datetime": {
                                                "type": "string"
                                            },
                                            "images": {
                                                "type": "object",
                                                "properties": {
                                                    "fixed_height": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_height_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_height_downsampled": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width_downsampled": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_height_small": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_height_small_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width_small": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width_small_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "downsized": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "downsized_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "downsized_large": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "downsized_medium": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "original": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "frames": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "original_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "looping": {
                                                        "type": "object",
                                                        "properties": {
                                                            "mp4": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "user": {
                                                "type": "object",
                                                "properties": {
                                                    "avatar_url": {
                                                        "type": "string"
                                                    },
                                                    "banner_url": {
                                                        "type": "string"
                                                    },
                                                    "profile_url": {
                                                        "type": "string"
                                                    },
                                                    "username": {
                                                        "type": "string"
                                                    },
                                                    "display_name": {
                                                        "type": "string"
                                                    },
                                                    "twitter": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "meta": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "msg": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "pagination": {
                                    "type": "object",
                                    "properties": {
                                        "total_count": {
                                            "type": "integer"
                                        },
                                        "count": {
                                            "type": "integer"
                                        },
                                        "offset": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "data": [
                                    {
                                        "type": "gif",
                                        "id": "l4Ki5O9v4ZkNiTl7O",
                                        "slug": "thegrammys-ellie-goulding-grammys-2016-andra-day-l4Ki5O9v4ZkNiTl7O",
                                        "url": "http://giphy.com/gifs/thegrammys-ellie-goulding-grammys-2016-andra-day-l4Ki5O9v4ZkNiTl7O",
                                        "bitly_gif_url": "http://gph.is/1Woh0LK",
                                        "bitly_url": "http://gph.is/1Woh0LK",
                                        "embed_url": "http://giphy.com/embed/l4Ki5O9v4ZkNiTl7O",
                                        "username": "thegrammys",
                                        "source": "www.grammy.com",
                                        "rating": "g",
                                        "content_url": "",
                                        "source_tld": "",
                                        "source_post_url": "www.grammy.com",
                                        "import_datetime": "2016-02-16 01:34:22",
                                        "trending_datetime": "0000-00-00 00:00:00",
                                        "images": {
                                            "fixed_height": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200.gif",
                                                "width": "377",
                                                "height": "200",
                                                "size": "2196110",
                                                "mp4": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200.mp4",
                                                "mp4_size": "102000",
                                                "webp": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200.webp",
                                                "webp_size": "576602"
                                            },
                                            "fixed_height_still": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200_s.gif",
                                                "width": "377",
                                                "height": "200"
                                            },
                                            "fixed_height_downsampled": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200_d.gif",
                                                "width": "377",
                                                "height": "200",
                                                "size": "237007",
                                                "webp": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200_d.webp",
                                                "webp_size": "57296"
                                            },
                                            "fixed_width": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200w.gif",
                                                "width": "200",
                                                "height": "106",
                                                "size": "760038",
                                                "mp4": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200w.mp4",
                                                "mp4_size": "44140",
                                                "webp": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200w.webp",
                                                "webp_size": "248580"
                                            },
                                            "fixed_width_still": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200w_s.gif",
                                                "width": "200",
                                                "height": "106"
                                            },
                                            "fixed_width_downsampled": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200w_d.gif",
                                                "width": "200",
                                                "height": "106",
                                                "size": "84107",
                                                "webp": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/200w_d.webp",
                                                "webp_size": "24736"
                                            },
                                            "fixed_height_small": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/100.gif",
                                                "width": "188",
                                                "height": "100",
                                                "size": "691798",
                                                "mp4": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/100.mp4",
                                                "mp4_size": "39302",
                                                "webp": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/100.webp",
                                                "webp_size": "227716"
                                            },
                                            "fixed_height_small_still": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/100_s.gif",
                                                "width": "188",
                                                "height": "100"
                                            },
                                            "fixed_width_small": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/100w.gif",
                                                "width": "100",
                                                "height": "53",
                                                "size": "235663",
                                                "mp4": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/100w.mp4",
                                                "mp4_size": "19673",
                                                "webp": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/100w.webp",
                                                "webp_size": "100670"
                                            },
                                            "fixed_width_small_still": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/100w_s.gif",
                                                "width": "100",
                                                "height": "53"
                                            },
                                            "downsized": {
                                                "url": "http://media.giphy.com/media/l4Ki5O9v4ZkNiTl7O/giphy-tumblr.gif",
                                                "width": "250",
                                                "height": "132",
                                                "size": "1114681"
                                            },
                                            "downsized_still": {
                                                "url": "http://media.giphy.com/media/l4Ki5O9v4ZkNiTl7O/giphy-tumblr_s.gif",
                                                "width": "250",
                                                "height": "132"
                                            },
                                            "downsized_large": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/giphy.gif",
                                                "width": "635",
                                                "height": "337",
                                                "size": "5201613"
                                            },
                                            "downsized_medium": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/giphy-downsized-medium.gif",
                                                "width": "508",
                                                "height": "269",
                                                "size": "3576275"
                                            },
                                            "original": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/giphy.gif",
                                                "width": "635",
                                                "height": "337",
                                                "size": "5201613",
                                                "frames": "60",
                                                "mp4": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/giphy.mp4",
                                                "mp4_size": "156777",
                                                "webp": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/giphy.webp",
                                                "webp_size": "1193010"
                                            },
                                            "original_still": {
                                                "url": "http://media0.giphy.com/media/l4Ki5O9v4ZkNiTl7O/giphy_s.gif",
                                                "width": "635",
                                                "height": "337"
                                            },
                                            "looping": {
                                                "mp4": "http://media.giphy.com/media/l4Ki5O9v4ZkNiTl7O/giphy-loop.mp4"
                                            }
                                        },
                                        "user": {
                                            "avatar_url": "https://media1.giphy.com/avatars/thegrammys/VQeQQc6QH4PZ.gif",
                                            "banner_url": "https://media1.giphy.com/avatars/thegrammys/ERuhizn4iKTf.jpg",
                                            "profile_url": "https://giphy.com/thegrammys/",
                                            "username": "thegrammys",
                                            "display_name": "The GRAMMYs",
                                            "twitter": "@theGRAMMYs"
                                        }
                                    }
                                ],
                                "meta": {
                                    "status": 200,
                                    "msg": "OK"
                                },
                                "pagination": {
                                    "total_count": 5071,
                                    "count": 25,
                                    "offset": 0
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/gifs/{gif-id}": {
            "parameters": [
                {
                    "name": "gif-id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_gifs-gif-id",
                "summary": "Get GIF by ID",
                "tags": [
                    "Gifs"
                ],
                "description": "<p>Returns meta data about a GIF, by GIF id. In the below example, the GIF ID is &quot;feqkVgjJpYtjy&quot;</p>\n<pre><code>http://api.giphy.com/v1/gifs/feqkVgjJpYtjy?api_key=dc6zaTOxFJmzC\n</code></pre>\n<p><a href=\"http://api.giphy.com/v1/gifs/feqkVgjJpYtjy?api_key=dc6zaTOxFJmzC\" target=\"_blank\">Example</a></p>",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "default": "dc6zaTOxFJmzC"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "slug": {
                                                "type": "string"
                                            },
                                            "url": {
                                                "type": "string"
                                            },
                                            "bitly_gif_url": {
                                                "type": "string"
                                            },
                                            "bitly_url": {
                                                "type": "string"
                                            },
                                            "embed_url": {
                                                "type": "string"
                                            },
                                            "username": {
                                                "type": "string"
                                            },
                                            "source": {
                                                "type": "string"
                                            },
                                            "rating": {
                                                "type": "string"
                                            },
                                            "content_url": {
                                                "type": "string"
                                            },
                                            "source_tld": {
                                                "type": "string"
                                            },
                                            "source_post_url": {
                                                "type": "string"
                                            },
                                            "import_datetime": {
                                                "type": "string"
                                            },
                                            "trending_datetime": {
                                                "type": "string"
                                            },
                                            "images": {
                                                "type": "object",
                                                "properties": {
                                                    "fixed_height": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_height_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_height_downsampled": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width_downsampled": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_height_small": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_height_small_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width_small": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width_small_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "downsized": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "downsized_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "downsized_large": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "downsized_medium": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "original": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "frames": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "original_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "looping": {
                                                        "type": "object",
                                                        "properties": {
                                                            "mp4": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "meta": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "msg": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "pagination": {
                                    "type": "object",
                                    "properties": {
                                        "total_count": {
                                            "type": "integer"
                                        },
                                        "count": {
                                            "type": "integer"
                                        },
                                        "offset": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "data": [
                                    {
                                        "type": "gif",
                                        "id": "feqkVgjJpYtjy",
                                        "slug": "eyes-shocked-bird-feqkVgjJpYtjy",
                                        "url": "http://giphy.com/gifs/eyes-shocked-bird-feqkVgjJpYtjy",
                                        "bitly_gif_url": "http://gph.is/XJ200y",
                                        "bitly_url": "http://gph.is/XJ200y",
                                        "embed_url": "http://giphy.com/embed/feqkVgjJpYtjy",
                                        "username": "",
                                        "source": "http://littleanimalgifs.tumblr.com/post/17994517807",
                                        "rating": "g",
                                        "content_url": "",
                                        "source_tld": "littleanimalgifs.tumblr.com",
                                        "source_post_url": "http://littleanimalgifs.tumblr.com/post/17994517807",
                                        "import_datetime": "2013-03-21 04:03:08",
                                        "trending_datetime": "2014-11-12 06:22:52",
                                        "images": {
                                            "fixed_height": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/200.gif",
                                                "width": "445",
                                                "height": "200",
                                                "size": "445432",
                                                "mp4": "http://media4.giphy.com/media/feqkVgjJpYtjy/200.mp4",
                                                "mp4_size": "27279",
                                                "webp": "http://media4.giphy.com/media/feqkVgjJpYtjy/200.webp",
                                                "webp_size": "420734"
                                            },
                                            "fixed_height_still": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/200_s.gif",
                                                "width": "445",
                                                "height": "200"
                                            },
                                            "fixed_height_downsampled": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/200_d.gif",
                                                "width": "445",
                                                "height": "200",
                                                "size": "183225",
                                                "webp": "http://media4.giphy.com/media/feqkVgjJpYtjy/200_d.webp",
                                                "webp_size": "89516"
                                            },
                                            "fixed_width": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/200w.gif",
                                                "width": "200",
                                                "height": "90",
                                                "size": "115885",
                                                "mp4": "http://media4.giphy.com/media/feqkVgjJpYtjy/200w.mp4",
                                                "mp4_size": "31919",
                                                "webp": "http://media4.giphy.com/media/feqkVgjJpYtjy/200w.webp",
                                                "webp_size": "122600"
                                            },
                                            "fixed_width_still": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/200w_s.gif",
                                                "width": "200",
                                                "height": "90"
                                            },
                                            "fixed_width_downsampled": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/200w_d.gif",
                                                "width": "200",
                                                "height": "90",
                                                "size": "83007",
                                                "webp": "http://media4.giphy.com/media/feqkVgjJpYtjy/200w_d.webp",
                                                "webp_size": "26460"
                                            },
                                            "fixed_height_small": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/100.gif",
                                                "width": "223",
                                                "height": "100",
                                                "size": "445432",
                                                "mp4": "http://media4.giphy.com/media/feqkVgjJpYtjy/100.mp4",
                                                "mp4_size": "240476",
                                                "webp": "http://media4.giphy.com/media/feqkVgjJpYtjy/100.webp",
                                                "webp_size": "129604"
                                            },
                                            "fixed_height_small_still": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/100_s.gif",
                                                "width": "223",
                                                "height": "100"
                                            },
                                            "fixed_width_small": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/100w.gif",
                                                "width": "100",
                                                "height": "45",
                                                "size": "115885",
                                                "mp4": "http://media4.giphy.com/media/feqkVgjJpYtjy/100w.mp4",
                                                "mp4_size": "79783",
                                                "webp": "http://media4.giphy.com/media/feqkVgjJpYtjy/100w.webp",
                                                "webp_size": "41620"
                                            },
                                            "fixed_width_small_still": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/100w_s.gif",
                                                "width": "100",
                                                "height": "45"
                                            },
                                            "downsized": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/giphy.gif",
                                                "width": "334",
                                                "height": "150",
                                                "size": "511581"
                                            },
                                            "downsized_still": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/giphy_s.gif",
                                                "width": "334",
                                                "height": "150"
                                            },
                                            "downsized_large": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/giphy.gif",
                                                "width": "334",
                                                "height": "150",
                                                "size": "511581"
                                            },
                                            "downsized_medium": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/giphy.gif",
                                                "width": "334",
                                                "height": "150",
                                                "size": "511581"
                                            },
                                            "original": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/giphy.gif",
                                                "width": "334",
                                                "height": "150",
                                                "size": "511581",
                                                "frames": "27",
                                                "mp4": "http://media4.giphy.com/media/feqkVgjJpYtjy/giphy.mp4",
                                                "mp4_size": "97841",
                                                "webp": "http://media4.giphy.com/media/feqkVgjJpYtjy/giphy.webp",
                                                "webp_size": "270108"
                                            },
                                            "original_still": {
                                                "url": "http://media4.giphy.com/media/feqkVgjJpYtjy/giphy_s.gif",
                                                "width": "334",
                                                "height": "150"
                                            },
                                            "looping": {
                                                "mp4": "http://media.giphy.com/media/feqkVgjJpYtjy/giphy-loop.mp4"
                                            }
                                        }
                                    }
                                ],
                                "meta": {
                                    "status": 200,
                                    "msg": "OK"
                                },
                                "pagination": {
                                    "total_count": 2,
                                    "count": 2,
                                    "offset": 0
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/gifs": {
            "get": {
                "operationId": "GET_gifs",
                "summary": "Get GIFs by ID",
                "tags": [
                    "Gifs"
                ],
                "description": "<p>A multiget version of the get GIF by ID endpoint. In this case the IDs are feqkVgjJpYtjy and 7rzbxdu0ZEXLy.  Note the additional user metadata attached to the document that describes the second GIF in the response, 7rzbxdu0ZEXLy.</p>\n<pre><code>http://api.giphy.com/v1/gifs?api_key=dc6zaTOxFJmzC&amp;ids=feqkVgjJpYtjy,7rzbxdu0ZEXLy\n</code></pre>\n<p><a href=\"http://api.giphy.com/v1/gifs?api_key=dc6zaTOxFJmzC&ids=feqkVgjJpYtjy,7rzbxdu0ZEXLy\" target=\"_blank\">Example</a></p>",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "default": "dc6zaTOxFJmzC"
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "slug": {
                                                "type": "string"
                                            },
                                            "url": {
                                                "type": "string"
                                            },
                                            "bitly_gif_url": {
                                                "type": "string"
                                            },
                                            "bitly_url": {
                                                "type": "string"
                                            },
                                            "embed_url": {
                                                "type": "string"
                                            },
                                            "username": {
                                                "type": "string"
                                            },
                                            "source": {
                                                "type": "string"
                                            },
                                            "rating": {
                                                "type": "string"
                                            },
                                            "content_url": {
                                                "type": "string"
                                            },
                                            "source_tld": {
                                                "type": "string"
                                            },
                                            "source_post_url": {
                                                "type": "string"
                                            },
                                            "import_datetime": {
                                                "type": "string"
                                            },
                                            "trending_datetime": {
                                                "type": "string"
                                            },
                                            "images": {
                                                "type": "object",
                                                "properties": {
                                                    "fixed_height": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_height_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_height_downsampled": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
                                                            "mp4_size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width_still": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_width_downsampled": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "webp": {
                                                                "type": "string"
                                                            },
                                                            "webp_size": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "fixed_height_small": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "string"
                                                            },
                                                            "mp4": {
                                                                "type": "string"
                                                            },
[...]
