{"swagger":"2.0","host":"api4.tactill.com","basePath":"/v1/catalog","schemes":["https"],"info":{"title":"catalog API Documentation","version":"0.8.0"},"tags":[],"paths":{"/articles":{"get":{"summary":"Get a list of Article based on the given filters in query.","operationId":"getArticles","parameters":[{"type":"number","description":"Limit the number of returned records","minimum":1,"name":"limit","in":"query"},{"type":"number","description":"Define an offset in the returned records","minimum":1,"name":"skip","in":"query"},{"type":"string","description":"Allow to filter the results based on query language","name":"filter","in":"query"},{"type":"string","description":"Allow to order by field (example \"field1=ASC&field2=DESC\")","name":"order","in":"query"},{"type":"string","name":"api_key","in":"query"},{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/","name":"node_id","in":"query","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/articles","type":"array"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"}}},"post":{"summary":"Creates a Article","operationId":"postArticles","parameters":[{"type":"boolean","name":"compute_price","in":"query"},{"in":"body","name":"body","schema":{"$ref":"#/definitions/article_creation"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/article"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/categories":{"get":{"summary":"Get a list of Category based on the given filters in query.","operationId":"getCategories","parameters":[{"type":"number","description":"Limit the number of returned records","minimum":1,"name":"limit","in":"query"},{"type":"number","description":"Define an offset in the returned records","minimum":1,"name":"skip","in":"query"},{"type":"string","description":"Allow to filter the results based on query language","name":"filter","in":"query"},{"type":"string","description":"Allow to order by field (example \"field1=ASC&field2=DESC\")","name":"order","in":"query"},{"type":"string","name":"api_key","in":"query"},{"type":"string","description":"An uuid pointing to Company. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/","name":"company_id","in":"query","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/categories","type":"array"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"}}},"post":{"summary":"Creates a Category","operationId":"postCategories","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/category_creation"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/category"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/discounts":{"get":{"summary":"Get a list of Discount based on the given filters in query.","operationId":"getDiscounts","parameters":[{"type":"number","description":"Limit the number of returned records","minimum":1,"name":"limit","in":"query"},{"type":"number","description":"Define an offset in the returned records","minimum":1,"name":"skip","in":"query"},{"type":"string","description":"Allow to filter the results based on query language","name":"filter","in":"query"},{"type":"string","description":"Allow to order by field (example \"field1=ASC&field2=DESC\")","name":"order","in":"query"},{"type":"string","name":"api_key","in":"query"},{"type":"string","description":"An uuid pointing to Shop. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/","name":"shop_id","in":"query","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/discounts","type":"array"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"}}},"post":{"summary":"Creates a Discount","operationId":"postDiscounts","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/discount_creation"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/discount"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/option_lists":{"get":{"summary":"Get a list of OptionList based on the given filters in query.","operationId":"getOption_lists","parameters":[{"type":"number","description":"Limit the number of returned records","minimum":1,"name":"limit","in":"query"},{"type":"number","description":"Define an offset in the returned records","minimum":1,"name":"skip","in":"query"},{"type":"string","description":"Allow to filter the results based on query language","name":"filter","in":"query"},{"type":"string","description":"Allow to order by field (example \"field1=ASC&field2=DESC\")","name":"order","in":"query"},{"type":"string","name":"api_key","in":"query"},{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/","name":"node_id","in":"query","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/option_lists","type":"array"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"}}},"post":{"summary":"Creates a OptionList","operationId":"postOption_lists","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/option_list_creation"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/option_list"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/options":{"get":{"summary":"Get a list of Option based on the given filters in query.","operationId":"getOptions","parameters":[{"type":"number","description":"Limit the number of returned records","minimum":1,"name":"limit","in":"query"},{"type":"number","description":"Define an offset in the returned records","minimum":1,"name":"skip","in":"query"},{"type":"string","description":"Allow to filter the results based on query language","name":"filter","in":"query"},{"type":"string","description":"Allow to order by field (example \"field1=ASC&field2=DESC\")","name":"order","in":"query"},{"type":"string","name":"api_key","in":"query"},{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/","name":"node_id","in":"query","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/options","type":"array"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"}}},"post":{"summary":"Creates a Option","operationId":"postOptions","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/option_creation"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/option"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/packs":{"get":{"summary":"Get a list of Set based on the given filters in query.","operationId":"getPacks","parameters":[{"type":"number","description":"Limit the number of returned records","minimum":1,"name":"limit","in":"query"},{"type":"number","description":"Define an offset in the returned records","minimum":1,"name":"skip","in":"query"},{"type":"string","description":"Allow to filter the results based on query language","name":"filter","in":"query"},{"type":"string","description":"Allow to order by field (example \"field1=ASC&field2=DESC\")","name":"order","in":"query"},{"type":"string","name":"api_key","in":"query"},{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/","name":"node_id","in":"query","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/packs","type":"array"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"}}},"post":{"summary":"Creates a Set","operationId":"postPacks","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/pack_creation"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/set"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/taxes":{"get":{"summary":"Get a list of Tax based on the given filters in query.","operationId":"getTaxes","parameters":[{"type":"number","description":"Limit the number of returned records","minimum":1,"name":"limit","in":"query"},{"type":"number","description":"Define an offset in the returned records","minimum":1,"name":"skip","in":"query"},{"type":"string","description":"Allow to filter the results based on query language","name":"filter","in":"query"},{"type":"string","description":"Allow to order by field (example \"field1=ASC&field2=DESC\")","name":"order","in":"query"},{"type":"string","name":"api_key","in":"query"},{"type":"string","description":"An uuid pointing to Company. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/","name":"company_id","in":"query","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/taxes","type":"array"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"}}},"post":{"summary":"Creates a Tax","operationId":"postTaxes","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/tax_creation"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/tax"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/articles/{article_id}":{"get":{"summary":"Get a Article by its unique id","operationId":"getArticlesArticle_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"article_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/article"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"put":{"summary":"Modifies a Article","operationId":"putArticlesArticle_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"article_id","in":"path","required":true},{"type":"boolean","name":"remove_price","in":"query"},{"in":"body","name":"body","schema":{"$ref":"#/definitions/article_modification"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"delete":{"summary":"Delete a Article","operationId":"deleteArticlesArticle_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"article_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/categories/{category_id}":{"get":{"summary":"Get a Category by its unique id","operationId":"getCategoriesCategory_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"category_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/category"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"put":{"summary":"Modifies a Category","operationId":"putCategoriesCategory_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"category_id","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/category_modification"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"delete":{"summary":"Delete a Category","operationId":"deleteCategoriesCategory_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"category_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/discounts/{discount_id}":{"get":{"summary":"Get a Discount by its unique id","operationId":"getDiscountsDiscount_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"discount_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/discount"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"put":{"summary":"Modifies a Discount","operationId":"putDiscountsDiscount_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"discount_id","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/discount_modification"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"delete":{"summary":"Delete a Discount","operationId":"deleteDiscountsDiscount_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"discount_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/option_lists/{option_list_id}":{"get":{"summary":"Get a OptionList by its unique id","operationId":"getOption_listsOption_list_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"option_list_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/option_list"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"put":{"summary":"Modifies a OptionList","operationId":"putOption_listsOption_list_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"option_list_id","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/option_list_modification"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"delete":{"summary":"Delete a OptionList","operationId":"deleteOption_listsOption_list_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"option_list_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/options/{option_id}":{"get":{"summary":"Get a Option by its unique id","operationId":"getOptionsOption_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"option_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/option"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"put":{"summary":"Modifies a Option","operationId":"putOptionsOption_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"option_id","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/option_modification"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"delete":{"summary":"Delete a Option","operationId":"deleteOptionsOption_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"option_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/packs/{set_id}":{"get":{"summary":"Get a Set by its unique id","operationId":"getPacksSet_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"set_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/set"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"put":{"summary":"Modifies a Set","operationId":"putPacksSet_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"set_id","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/pack_modification"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"delete":{"summary":"Delete a Set","operationId":"deletePacksSet_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"set_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/taxes/{tax_id}":{"get":{"summary":"Get a Tax by its unique id","operationId":"getTaxesTax_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"tax_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/tax"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"put":{"summary":"Modifies a Tax","operationId":"putTaxesTax_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"tax_id","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/tax_modification"}}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"400":{"schema":{"$ref":"#/definitions/bad_request"},"description":"Bad Request"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"delete":{"summary":"Delete a Tax","operationId":"deleteTaxesTax_id","parameters":[{"type":"string","pattern":"/^[0-9A-Fa-f]{24}$/","name":"tax_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/export/xlsx/{node_id}":{"get":{"summary":"Launch an export of nodes in xlsx","operationId":"getExportXlsxNode_id","parameters":[{"type":"string","name":"node_id","in":"path","required":true},{"type":"string","name":"api_key","in":"query"},{"type":"boolean","default":false,"name":"mail","in":"query"}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/export/xlsx/{node_id}/result":{"get":{"summary":"Get the result of an export of nodes in xlsx","operationId":"getExportXlsxNode_idResult","parameters":[{"type":"string","name":"node_id","in":"path","required":true},{"type":"string","name":"api_key","in":"query"}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"202":{"schema":{"$ref":"#/definitions/export_processed"},"description":""},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/import/xls/{node_id}/result":{"get":{"summary":"Get the result of an import of nodes from xls","operationId":"getImportXlsNode_idResult","parameters":[{"type":"string","name":"node_id","in":"path","required":true},{"type":"string","name":"api_key","in":"query"}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"202":{"schema":{"$ref":"#/definitions/export_processed"},"description":""},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/articles/{article_id}/image":{"post":{"summary":"Add an image to a article","operationId":"postArticlesArticle_idImage","parameters":[{"type":"string","description":"An uuid pointing to Article. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/","name":"article_id","in":"path","required":true},{"type":"file","x-meta":{"swaggerType":"file"},"in":"formData","name":"file","required":true}],"consumes":["multipart/form-data"],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"delete":{"summary":"Remove an image from a article","operationId":"deleteArticlesArticle_idImage","parameters":[{"type":"string","description":"An uuid pointing to Article. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/","name":"article_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/categories/{category_id}/image":{"post":{"summary":"Add an image to a category","operationId":"postCategoriesCategory_idImage","parameters":[{"type":"string","description":"An uuid pointing to Category. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/","name":"category_id","in":"path","required":true},{"type":"file","x-meta":{"swaggerType":"file"},"in":"formData","name":"file","required":true}],"consumes":["multipart/form-data"],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}},"delete":{"summary":"Remove an image from a category","operationId":"deleteCategoriesCategory_idImage","parameters":[{"type":"string","description":"An uuid pointing to Category. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/","name":"category_id","in":"path","required":true}],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}},"/import/xls/{node_id}":{"post":{"summary":"Launch an import of nodes from xls","operationId":"postImportXlsNode_id","parameters":[{"type":"string","name":"node_id","in":"path","required":true},{"type":"string","name":"api_key","in":"query"},{"type":"boolean","default":false,"name":"mail","in":"query"},{"type":"boolean","default":false,"name":"update","in":"query"},{"type":"string","default":"","name":"url","in":"formData"},{"type":"file","x-meta":{"swaggerType":"file"},"in":"formData","required":["file"],"x-alternatives":[{"type":"file","x-meta":{"swaggerType":"file"},"in":"formData"}],"name":"file"}],"consumes":["multipart/form-data"],"tags":["v1"],"responses":{"200":{"schema":{"$ref":"#/definitions/answer"},"description":"Success"},"403":{"schema":{"$ref":"#/definitions/forbidden"},"description":"Forbidden"},"404":{"schema":{"$ref":"#/definitions/not_found"},"description":"Not found"}}}}},"definitions":{"article_discounts":{"type":"array","description":"A collection of uuid pointing to Discount. They MUST match the /^[0-9A-Fa-f]{24}$/ regexp","items":{"type":"string","description":"An uuid pointing to Discount. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"}},"article_taxes":{"type":"array","description":"A collection of uuid pointing to Tax. They MUST match the /^[0-9A-Fa-f]{24}$/ regexp","items":{"type":"string","description":"An uuid pointing to Tax. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"}},"value_pair":{"type":"object","properties":{"priority":{"type":"number"},"value":{"type":"string"}},"required":["priority","value"]},"article_variations_values":{"type":"array","items":{"$ref":"#/definitions/value_pair"}},"article_variations_options":{"type":"object","properties":{"key":{"type":"string"},"values":{"$ref":"#/definitions/article_variations_values","type":"array"},"priority":{"type":"number"}},"required":["key","values","priority"]},"article_variations":{"type":"array","items":{"$ref":"#/definitions/article_variations_options"}},"article_variation":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"},"priority":{"type":"number"}},"required":["key","value","priority"]},"declination_variations":{"type":"array","items":{"$ref":"#/definitions/article_variation"}},"article_declination":{"type":"object","properties":{"id":{"type":"string"},"deprecated":{"type":"boolean","default":false},"test":{"type":"boolean","default":false},"taxes":{"$ref":"#/definitions/article_taxes","type":"array"},"no_price":{"type":"boolean","default":false},"full_price":{"type":"number"},"taxfree_price":{"type":"number"},"barcode":{"type":"string"},"reference":{"type":"string"},"weight":{"type":"number"},"in_stock":{"type":"boolean","default":false},"ignore_stock":{"type":"boolean","default":true},"buy_price":{"type":"number"},"variations":{"$ref":"#/definitions/declination_variations","type":"array"},"stock_quantity":{"type":"number"}},"required":["id","taxes"]},"article_declinations":{"type":"array","items":{"$ref":"#/definitions/article_declination"}},"article_options":{"type":"array","description":"A collection of uuid pointing to Option. They MUST match the /^[0-9A-Fa-f]{24}$/ regexp","items":{"type":"string","description":"An uuid pointing to Option. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"}},"article":{"type":"object","properties":{"_id":{"type":"string"},"__v":{"type":"number"},"deprecated":{"type":"boolean","default":false},"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:15.665Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:15.667Z"},"original_id":{"type":"string"},"test":{"type":"boolean","default":false},"node_id":{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"category_id":{"type":"string","description":"An uuid pointing to Category. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"discounts":{"$ref":"#/definitions/article_discounts","type":"array"},"taxes":{"$ref":"#/definitions/article_taxes","type":"array"},"is_default":{"type":"boolean","default":false},"name":{"type":"string"},"icon_text":{"type":"string"},"summary":{"type":"string"},"image":{"type":"string","default":"","x-format":{"uri":{"scheme":["http","https"]}}},"color":{"type":"string","default":"#57DB47","enum":["#57DB47","#6868DC","#30BEA5","#F44F60","#1E8CFF","#F2BA43","#B455C8","#FF6347","#A06E58","#9EA09E"]},"full_price":{"type":"number"},"taxfree_price":{"type":"number"},"barcode":{"type":"string"},"reference":{"type":"string"},"unit":{"type":"string","default":"","enum":["kg","l","m","min"]},"weight":{"type":"number"},"in_stock":{"type":"boolean","default":false},"ignore_stock":{"type":"boolean","default":true},"buy_price":{"type":"number"},"variations":{"$ref":"#/definitions/article_variations","type":"array"},"declinations":{"$ref":"#/definitions/article_declinations","type":"array"},"options":{"$ref":"#/definitions/article_options","type":"array"},"stock_quantity":{"type":"number"}},"required":["_id","__v","node_id","taxes"]},"articles":{"type":"array","items":{"$ref":"#/definitions/article"}},"forbidden":{"type":"object","properties":{"statusCode":{"type":"number","default":403},"error":{"type":"string"},"message":{"type":"string"}}},"category":{"type":"object","properties":{"_id":{"type":"string"},"__v":{"type":"number"},"deprecated":{"type":"boolean","default":false},"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:15.963Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:15.963Z"},"original_id":{"type":"string"},"test":{"type":"boolean","default":false},"company_id":{"type":"string","description":"An uuid pointing to Company. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"is_default":{"type":"boolean","default":false},"image":{"type":"string","default":"","x-format":{"uri":{"scheme":["http","https"]}}},"color":{"type":"string","default":"#57DB47","enum":["#57DB47","#6868DC","#30BEA5","#F44F60","#1E8CFF","#F2BA43","#B455C8","#FF6347","#A06E58","#9EA09E"]},"icon_text":{"type":"string"},"name":{"type":"string"}},"required":["_id","__v","company_id"]},"categories":{"type":"array","items":{"$ref":"#/definitions/category"}},"discount":{"type":"object","properties":{"_id":{"type":"string"},"__v":{"type":"number"},"deprecated":{"type":"boolean","default":false},"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:16.169Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:16.170Z"},"original_id":{"type":"string"},"test":{"type":"boolean","default":false},"shop_id":{"type":"string","description":"An uuid pointing to Shop. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"name":{"type":"string"},"rate":{"type":"number"},"type":{"type":"string","default":"numeric","enum":["numeric","rate"]},"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"},"barcode":{"type":"string","default":""},"icon_text":{"type":"string"},"color":{"type":"string","default":"#57DB47","enum":["#57DB47","#6868DC","#30BEA5","#F44F60","#1E8CFF","#F2BA43","#B455C8","#FF6347","#A06E58","#9EA09E"]}},"required":["_id","__v","shop_id"]},"discounts":{"type":"array","items":{"$ref":"#/definitions/discount"}},"option_list":{"type":"object","properties":{"_id":{"type":"string"},"__v":{"type":"number"},"deprecated":{"type":"boolean","default":false},"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:16.277Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:16.278Z"},"original_id":{"type":"string"},"node_id":{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"options":{"$ref":"#/definitions/article_options","type":"array"},"name":{"type":"string"},"multiple":{"type":"boolean"},"mandatory":{"type":"boolean"}},"required":["_id","__v","node_id","options"]},"option_lists":{"type":"array","items":{"$ref":"#/definitions/option_list"}},"option":{"type":"object","properties":{"_id":{"type":"string"},"__v":{"type":"number"},"deprecated":{"type":"boolean","default":false},"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:16.369Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:16.369Z"},"original_id":{"type":"string"},"test":{"type":"boolean","default":false},"node_id":{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"name":{"type":"string"},"price":{"type":"number"}},"required":["_id","__v","node_id"]},"options":{"type":"array","items":{"$ref":"#/definitions/option"}},"Model 1":{"type":"array","description":"A collection of uuid pointing to Article. They MUST match the /^[0-9A-Fa-f]{24}$/ regexp","items":{"type":"string","description":"An uuid pointing to Article. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"}},"set":{"type":"object","properties":{"_id":{"type":"string"},"__v":{"type":"number"},"deprecated":{"type":"boolean","default":false},"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:16.515Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:16.515Z"},"original_id":{"type":"string"},"node_id":{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"articles":{"$ref":"#/definitions/Model 1","type":"array"},"full_price":{"type":"number"},"taxfree_price":{"type":"number"},"taxes":{"$ref":"#/definitions/article_taxes","type":"array"},"discounts":{"$ref":"#/definitions/article_discounts","type":"array"}},"required":["_id","__v","node_id","articles","taxes","discounts"]},"packs":{"type":"array","items":{"$ref":"#/definitions/set"}},"tax":{"type":"object","properties":{"_id":{"type":"string"},"__v":{"type":"number"},"deprecated":{"type":"boolean","default":false},"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:16.606Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:16.606Z"},"original_id":{"type":"string"},"test":{"type":"boolean","default":false},"company_id":{"type":"string","description":"An uuid pointing to Company. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"is_default":{"type":"boolean","default":false},"name":{"type":"string"},"in_price":{"type":"boolean"},"rate":{"type":"number"}},"required":["_id","__v","company_id"]},"taxes":{"type":"array","items":{"$ref":"#/definitions/tax"}},"not_found":{"type":"object","properties":{"statusCode":{"type":"number","default":404},"error":{"type":"string"},"message":{"type":"string"}}},"answer":{"type":"object","properties":{"statusCode":{"type":"number","default":200},"error":{"type":"string"},"message":{"type":"string"}}},"export_processed":{"type":"object","properties":{"statusCode":{"type":"number","default":202},"error":{"type":"string"},"message":{"type":"string"}}},"article_creation":{"type":"object","properties":{"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:17.863Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:17.864Z"},"original_id":{"type":"string"},"test":{"type":"boolean","default":false},"node_id":{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"category_id":{"type":"string","description":"An uuid pointing to Category. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"discounts":{"$ref":"#/definitions/article_discounts","type":"array"},"taxes":{"$ref":"#/definitions/article_taxes","type":"array"},"name":{"type":"string"},"icon_text":{"type":"string"},"summary":{"type":"string"},"image":{"type":"string","default":"","x-format":{"uri":{"scheme":["http","https"]}}},"color":{"type":"string","default":"#57DB47","enum":["#57DB47","#6868DC","#30BEA5","#F44F60","#1E8CFF","#F2BA43","#B455C8","#FF6347","#A06E58","#9EA09E"]},"full_price":{"type":"number"},"taxfree_price":{"type":"number"},"barcode":{"type":"string"},"reference":{"type":"string"},"unit":{"type":"string","default":"","enum":["kg","l","m","min"]},"weight":{"type":"number"},"in_stock":{"type":"boolean","default":false},"ignore_stock":{"type":"boolean","default":true},"buy_price":{"type":"number"},"variations":{"$ref":"#/definitions/article_variations","type":"array"},"declinations":{"$ref":"#/definitions/article_declinations","type":"array"},"options":{"$ref":"#/definitions/article_options","type":"array"}},"required":["node_id","category_id","taxes","name"]},"keys":{"type":"array","items":{"type":"string"}},"validation":{"type":"object","properties":{"source":{"type":"string"},"keys":{"$ref":"#/definitions/keys","type":"array"}}},"bad_request":{"type":"object","properties":{"statusCode":{"type":"number","default":400},"error":{"type":"string"},"message":{"type":"string"},"validation":{"$ref":"#/definitions/validation"}}},"category_creation":{"type":"object","properties":{"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:18.902Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:18.902Z"},"original_id":{"type":"string"},"test":{"type":"boolean","default":false},"company_id":{"type":"string","description":"An uuid pointing to Company. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"image":{"type":"string","default":"","x-format":{"uri":{"scheme":["http","https"]}}},"color":{"type":"string","default":"#57DB47","enum":["#57DB47","#6868DC","#30BEA5","#F44F60","#1E8CFF","#F2BA43","#B455C8","#FF6347","#A06E58","#9EA09E"]},"icon_text":{"type":"string"},"name":{"type":"string"}},"required":["company_id","name"]},"discount_creation":{"type":"object","properties":{"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:19.017Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:19.017Z"},"original_id":{"type":"string"},"test":{"type":"boolean","default":false},"shop_id":{"type":"string","description":"An uuid pointing to Shop. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"name":{"type":"string"},"rate":{"type":"number"},"type":{"type":"string","default":"numeric","enum":["numeric","rate"]},"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"},"barcode":{"type":"string","default":""},"icon_text":{"type":"string"},"color":{"type":"string","default":"#57DB47","enum":["#57DB47","#6868DC","#30BEA5","#F44F60","#1E8CFF","#F2BA43","#B455C8","#FF6347","#A06E58","#9EA09E"]}},"required":["shop_id","name","type","start_date","end_date","barcode","icon_text","color"]},"option_list_creation":{"type":"object","properties":{"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:19.160Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:19.160Z"},"node_id":{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"options":{"$ref":"#/definitions/article_options","type":"array"},"name":{"type":"string"},"multiple":{"type":"boolean"},"mandatory":{"type":"boolean"}},"required":["node_id","options","name","multiple","mandatory"]},"option_creation":{"type":"object","properties":{"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:19.236Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:19.236Z"},"test":{"type":"boolean","default":false},"node_id":{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"name":{"type":"string"},"price":{"type":"number"}},"required":["node_id","name","price"]},"pack_creation":{"type":"object","properties":{"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:19.299Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:19.299Z"},"node_id":{"type":"string","description":"An uuid pointing to Node. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"articles":{"$ref":"#/definitions/Model 1","type":"array"},"full_price":{"type":"number"},"taxfree_price":{"type":"number"},"taxes":{"$ref":"#/definitions/article_taxes","type":"array"},"discounts":{"$ref":"#/definitions/article_discounts","type":"array"}},"required":["node_id","articles","taxes","discounts"]},"tax_creation":{"type":"object","properties":{"created_at":{"type":"string","format":"date","description":"Date at which the record was created in database","default":"2018-08-01T06:33:19.405Z"},"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:19.405Z"},"original_id":{"type":"string"},"test":{"type":"boolean","default":false},"company_id":{"type":"string","description":"An uuid pointing to Company. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"is_default":{"type":"boolean","default":false},"name":{"type":"string"},"in_price":{"type":"boolean"},"rate":{"type":"number"}},"required":["company_id","is_default","name","in_price","rate"]},"article_modification":{"type":"object","properties":{"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:19.587Z"},"test":{"type":"boolean","default":false},"category_id":{"type":"string","description":"An uuid pointing to Category. It MUST match the /^[0-9A-Fa-f]{24}$/ regexp","pattern":"/^[0-9A-Fa-f]{24}$/"},"discounts":{"$ref":"#/definitions/article_discounts","type":"array"},"taxes":{"$ref":"#/definitions/article_taxes","type":"array"},"name":{"type":"string"},"icon_text":{"type":"string"},"summary":{"type":"string"},"image":{"type":"string","default":"","x-format":{"uri":{"scheme":["http","https"]}}},"color":{"type":"string","default":"#57DB47","enum":["#57DB47","#6868DC","#30BEA5","#F44F60","#1E8CFF","#F2BA43","#B455C8","#FF6347","#A06E58","#9EA09E"]},"full_price":{"type":"number"},"taxfree_price":{"type":"number"},"barcode":{"type":"string"},"reference":{"type":"string"},"unit":{"type":"string","default":"","enum":["kg","l","m","min"]},"weight":{"type":"number"},"in_stock":{"type":"boolean","default":false},"ignore_stock":{"type":"boolean","default":true},"buy_price":{"type":"number"},"variations":{"$ref":"#/definitions/article_variations","type":"array"},"declinations":{"$ref":"#/definitions/article_declinations","type":"array"},"options":{"$ref":"#/definitions/article_options","type":"array"}},"required":["taxes"]},"category_modification":{"type":"object","properties":{"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:19.954Z"},"test":{"type":"boolean","default":false},"image":{"type":"string","default":"","x-format":{"uri":{"scheme":["http","https"]}}},"color":{"type":"string","default":"#57DB47","enum":["#57DB47","#6868DC","#30BEA5","#F44F60","#1E8CFF","#F2BA43","#B455C8","#FF6347","#A06E58","#9EA09E"]},"icon_text":{"type":"string"},"name":{"type":"string"}}},"discount_modification":{"type":"object","properties":{"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:20.029Z"},"test":{"type":"boolean","default":false},"name":{"type":"string"},"rate":{"type":"number"},"type":{"type":"string","default":"numeric","enum":["numeric","rate"]},"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"},"barcode":{"type":"string","default":""},"icon_text":{"type":"string"},"color":{"type":"string","default":"#57DB47","enum":["#57DB47","#6868DC","#30BEA5","#F44F60","#1E8CFF","#F2BA43","#B455C8","#FF6347","#A06E58","#9EA09E"]}}},"option_list_modification":{"type":"object","properties":{"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:20.162Z"},"options":{"$ref":"#/definitions/article_options","type":"array"},"name":{"type":"string"},"multiple":{"type":"boolean"},"mandatory":{"type":"boolean"}},"required":["options"]},"option_modification":{"type":"object","properties":{"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:20.280Z"},"test":{"type":"boolean","default":false},"name":{"type":"string"},"price":{"type":"number"}}},"pack_modification":{"type":"object","properties":{"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:20.325Z"},"articles":{"$ref":"#/definitions/Model 1","type":"array"},"full_price":{"type":"number"},"taxfree_price":{"type":"number"},"taxes":{"$ref":"#/definitions/article_taxes","type":"array"},"discounts":{"$ref":"#/definitions/article_discounts","type":"array"}},"required":["articles","taxes","discounts"]},"tax_modification":{"type":"object","properties":{"updated_at":{"type":"string","format":"date","description":"Date at which the record was updated in database","default":"2018-08-01T06:33:20.383Z"},"test":{"type":"boolean","default":false},"is_default":{"type":"boolean","default":false},"name":{"type":"string"},"in_price":{"type":"boolean"},"rate":{"type":"number"}}}}}
