@import "fonts";
@import "app-colors";

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'open-sans';
  color: white;
  font-size: 14px;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $backgroundGradian;
  opacity: 0;
  transition: 1000ms;
}

.background_enabled {
  opacity: 1;
}

.selection_enter {
  opacity: 0;
  // transform: scale(1.1);
}
.selection_enterActive {
  opacity: 1;
  // transform: scale(1);
  transition: 500ms;
  transition-delay: 250ms;
}
.selection_exit {
  opacity: 1;
  // transform: scale(1);
}
.selection_exitActive {
  // transform: scale(0.9);
  opacity: 0;
  transition: 300ms;
}
