@import "app-colors";
@import "mixins";
@import "responsive";

.container {
  border: 1px solid rgba(white, 0.25);
  border-radius: 3px;
}

.row {
  display: flex;
  padding: 10px;
  color: $lightText;
  &:nth-child(even) {
    background-color: rgba(black, 0.08);
  }

  @include phone {
    padding: 5px 10px;
    flex-direction: column;
  }
}

.cell_label {
  @include ellipsis;
  flex: 1;
}

.cell_type {
  width: 80px;
  padding: 0 10px;

  @include phone {
    padding: 0;
    font-size: 12px;
  }
}
