@import "app-colors";

.container {
  color: $lightText;
  p {
    margin: 5px 0;
  }
  a {
    position: relative;
    color: $blue;
    opacity: 0.85;
    text-decoration: none;
    transition: 200ms;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $blue;
      opacity: 0;
      transform: translateY(-10px) scaleX(0.7);
      transition: 200ms;
    }

    &:hover {
      opacity: 1;
    }
    &:hover::after {
      opacity: 1;
      transform: translateY(0) scaleX(1);
    }
  }
  pre {
    padding: 5px;
    margin: 5px 0;
    border-radius: 3px;
    overflow: auto;
    background-color: rgba(white, 0.15);
  }
}
