@import "app-colors";

.container {
  color: $lightText;
  p {
    margin: 5px 0;
  }
  a {
    color: $blue;
  }
  pre {
    padding: 5px;
    margin: 5px 0;
    border-radius: 3px;
    overflow: auto;
    background-color: rgba(white, 0.15);
  }
}
