@import 'mixins';

.title {
  @include uppercase;
  margin-bottom: 15px;
  font-size: 16px;
}

.container {

}

.codeList {
  display: inline-block;
  vertical-align: top;
  width: 40px;
}

.responseDetails {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 40px);
  padding-left: 20px;
  box-sizing: border-box;
}
