@import 'app-colors';
@import 'mixins';
@import 'responsive';

$padding: 15px;

.details {
  position: relative;
  width: 640px;
  background-color: $cardBackground;
  border-radius: 5px;

  @include tablet {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.summary {
  margin-bottom: 15px;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px $padding $padding $padding;
  @include momentumScroll;

  @include tablet {
    padding-bottom: 70px;
    box-sizing: border-box;
  }
}

.description {
  margin-bottom: 15px;
}

.separator {
  margin: 20px 0;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(white, 0.25);
}

.requestBodyContainer {
  margin-bottom: 40px;
}

.backButton {
  @include uppercase;
  position: absolute;
  left: 15px;
  bottom: 15px;
  height: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  color: $lightText;
  background-color: rgba(#213A54, 0.9);
  border-radius: 3px;
  text-decoration: none;
}

.backButtonIcon {
  width: 23px;
  height: 19px;
  margin-right: 10px;
}
