@import "app-colors";
@import "mixins";
@import "responsive";

.container {
  @include resetButton;
  display: block;
  margin-bottom: 3px;
  color: white;
  opacity: 0.4;
  transition: opacity 200ms;

  @include phone {
    display: inline-block;
    margin-bottom: 0;
    padding: 5px 10px 10px 10px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.container_selected {
  opacity: 1;
}

.square {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 2px;
  background-color: $green;
}

.square_error {
  background-color: $red;
}

.code {
  font-size: 12px;
}
