@import 'app-colors';
@import 'mixins';

$padding: 15px;

.container {
  position: relative;
  width: 640px;
  background-color: $cardBackground;
  border-radius: 5px;
  overflow: auto;
}

.summary {
  margin-bottom: 15px;
}

.content {
  padding: 0 $padding $padding $padding;
}

.description {
  margin-bottom: 15px;
}

.separator {
  margin: 20px 0;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(white, 0.25);
}

.requestBodyContainer {
  margin-bottom: 40px;
}
